body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #0F2449; 
    padding: 40px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.container h1 {
    color: rgb(18, 17, 17);
    margin-bottom: 24px;
}

.container form {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.logo {
    width: 150px; /* Adjust the size */
    display: block;
    margin: 0 auto; /* Center the image */
}

.highlight {
    color: red;
}

input {
    background-color: transparent; 
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid;
    border-color: white;
    font-size: 16px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: solid ;
    margin-bottom: 15px;
}

.options a {
    color: #ddd;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

.footer-text {
    color: white;
    margin-top: 15px;
    font-size: 14px;
}